{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'house/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'house/dollhouse.js' %}"></script>

<div class="background">
    <img src="{{ MEDIA_URL }}{{ workingdollhouse.dh_background.bg_image }}" alt="Background" style="position:absolute; top:0; left:0;"/> 
</div>

{% for doll in doll_objects %}
    <div class="doll">
        <img src="{{ MEDIA_URL }}{{ doll.doll_image }}" alt="Doll" draggable="false" style="position:relative; top:54; left:100;"/>
</div>
{% endfor %}
