{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'house/dollhouse.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'house/dollhouse.js' %}"></script>

<script>
var workingDollhouse = {{workingdollhouse.id}}
</script>

<div class="banner"> 
    <div id="linkarea">
        <a href="{% url 'lobby' %}">Return to Lobby</a>
        <br>
        <a href="{% url 'dressing_room' dollhouse=workingdollhouse.id %}">Go to Dressing Room</a>
        <br>
        <button id="rename-dollhouse">Rename Dollhouse</button>
        <select id="background-select">
          <option value="null">Change Background</option>
            {% for background in background_objects %}
            <option value="{{ background.bg_name}}">{{ background.bg_name }} </option>
            {% endfor %}
        </select>
		<button id="rename-background">Rename Background</button>
    </div>
    <div id="bannertext">{{ workingdollhouse.dollhouse_name }}</div>
    <div class="recycle-bin">
        <img class="recycle-bin" src={% static "house/images/recycle_bin.png" %} alt="Recycle Bin"/>
    </div>
</div>

<div id="container">
<div class="background">
    <img id="background-image" src="{{ MEDIA_URL }}{{ workingdollhouse.dh_background.bg_image }}" alt="Background" style="position:absolute; top:0; left:0;"/> 
</div>

   {% for doll in doll_objects %}
    <div
      style="position:absolute;
             top:{{ doll.doll_tpos }};
             left:{{ doll.doll_lpos }};"
      class="dollcontainer"
      data-dollid="{{ doll.id }}">
      <img 
      class="doll grabbable" 
      src="{{ MEDIA_URL }}{{ doll.doll_image }}" 
      alt="{{ doll.doll_name }}" draggable="false" 
      />
      {% for accessory in doll.accessory_set.all %}
      <div 
        class="accessorycontainer"
        style="position:absolute; 
               left:{{ accessory.accessory_lpos }}; 
               top:{{ accessory.accessory_tpos }}"
        >
        <img 
        class="accessory" 
        src="{{ MEDIA_URL }}{{ accessory.accessory_image }}" 
        alt="{{ accessory.accessory_name }}" draggable="false" 
        data-accessoryid="{{ accessory.id }}" 
        data-linkeddoll="{{accessory.doll_id}}" 
                />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
</div>
