<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href='{% static 'house/dressing_room.css' %}'.>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      var mediaUrl = "{{MEDIA_URL}}"
      var workingDollhouse = {{workingdollhouse.id}}
    </script>
    <script type="text/javascript" src="{% static 'house/dressing_room.js' %}"></script>
    <title>Dressing Room</title>
  </head>

  <body>

  {% for doll in doll_objects %}
      <div class="doll">
          <img style="display:none" src="{{ MEDIA_URL }}{{ doll.doll_image }}" alt="{{ doll.doll_name }}" draggable="false" data-dollid="{{ doll.id }}"/>
      </div>
  {% endfor %}

  <div id="container">

  <div id="banner"><center>Welcome to the dressing room for {{ workingdollhouse.dollhouse_name }}!</center>
  </div>

    <div id="left-sidebar">
      <!-- You almost never want to use <br> elements. The only
      correct use of a <br> element is to specially flow text,
      i.e. within a headline or something like that. Instead, you
      should put your text in divs and put margins on those divs. -->
      <br>
      Select a working doll:
      <br>
      <select id="doll-select">
        <option value="null">Select Doll</option>
          {% for doll in doll_objects %}
            <option value="{{ doll.doll_id }}">{{ doll.doll_name }} </option>
          {% endfor %}
      </select>
      <br>
      <br>
      <button type="button" id="button-rename-doll">Rename Selected Doll</button>
      <br>
      <br>
      Select a doll to preview:
        <select id="doll-picture-select">
          <option value="null">Preview Doll</option>
          {% for dollpicture in dollpicture_objects %}
          <option data-picture="{{dollpicture.picture}}" value="{{ dollpicture.id }}">{{ dollpicture.name }} </option>
          {% endfor %}
        </select>


      <div id="doll-preview-box">
        Doll Preview
        <button type="button" id="button-new-doll">Create New Doll</button>
      </div>
 
    </div>

      <div id="display-area">
        <img id="curtains" src ={% static "house/images/curtains.jpg" %} alt="curtains"/>
      </div>

    <div id="right-sidebar">
      <br>
      Select a working accessory:
        <select id="accessory-select">
          <option value="null">Select Accessory</option>
          {% for accessory in accessory_objects %}
            <option value="{{ MEDIA_URL }}{{ accessory.accessory_id }}">{{ dollpicture.name }} </option>
          {% endfor %}
        </select>
        <br>
        <br>


      Select an accessory to preview:
      <select id="accessory-picture-select">
        <option value="null">Preview Accessory</option>
          {% for accessorypicture in accessorypicture_objects %}
          <option value="{{ MEDIA_URL }}{{ accessorypicture.picture }}">{{ accessorypicture.name }} </option>
          {% endfor %}
      </select>

      <div id="accessory-preview-box">
        Accessory Preview
        <button type="button" id="button-new-accessory">Create New Accessory</button>
      </div>
    </div>
  </div>

  </body>
</html>
