<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href='{% static 'house/dressing_room.css' %}'.>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      var mediaUrl = "{{MEDIA_URL}}"
      var workingDollhouse = {{workingdollhouse.id}}
    </script>
    <script type="text/javascript" src="{% static 'house/dressing_room.js' %}"></script>
    <title>Dressing Room</title>
  </head>

  <body>

  <div id="container">

  <div id="banner"><center>Welcome to the dressing room for {{ workingdollhouse.dollhouse_name }}!</center>
  </div>

    <div id="left-sidebar">
      <br>
      Select a working doll:
      <br>
      <select id="doll-select">
        <option value="null">Select Doll</option>
          {% for doll in doll_objects %}
            <option value="{{ doll.id }}">{{ doll.doll_name }} </option>
          {% endfor %}
      </select>
      <br>
      <br>
      <button type="button" id="button-rename-doll">Rename Selected Doll</button>
      <br>
      <br>
      Select a doll to preview:
        <select id="doll-picture-select">
          <option value="null">Preview Doll</option>
          {% for dollpicture in dollpicture_objects %}
          <option data-picture="{{dollpicture.picture}}" value="{{ dollpicture.id }}">{{ dollpicture.name }} </option>
          {% endfor %}
        </select>


      <div id="doll-preview-box">
        Doll Preview
        <button type="button" id="button-new-doll">Create New Doll</button>
      </div>
 
    </div>

  <div id="display-area">
    <img 
    id="curtains" 
    src ={% static "house/images/curtains.jpg" %} 
    alt="curtains"
    />
    {% for doll in doll_objects %}
    <div 
      class="dollcontainer">
      <img 
      class="hide" 
      src="{{ MEDIA_URL }}{{ doll.doll_image }}" 
      alt="{{ doll.doll_name }}" draggable="false" 
      data-dollid="{{ doll.id }}"
      />
      {% for accessory in doll.accessory_set.all %}
      <div 
        class="accessorycontainer"
        data-accessoryid="{{ accessory.id }}" 
        style="position:absolute; 
               left:{{ accessory.accessory_lpos }}; 
               top:{{ accessory.accessory_tpos }}"
        >
        <img 
        class="hide grabbable"
        src="{{ MEDIA_URL }}{{ accessory.accessory_image }}" 
        alt="{{ accessory.accessory_name }}" draggable="false" 
        data-linkeddoll="{{accessory.doll_id}}" 
                />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

    <div id="right-sidebar">
      <div id="right-sidebar-top">
        Select an accessory to preview:
        <select id="accessory-picture-select">
          <option value="null">Preview Accessory</option>
            {% for accessorypicture in accessorypicture_objects %}
            <option data-id="{{accessorypicture.id}}" value="{{ accessorypicture.picture }}">{{ accessorypicture.name }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="button" id="button-rename-accessory">Rename Selected Accessory</button>
        <div id="recycle-bin">
            <img src={% static "house/images/recycle_bin.png" %} alt="Recycle Bin"/>
        </div>
      </div>

      <div id="accessory-preview-box">
        Accessory Preview
        <button type="button" id="button-new-accessory">Create New Accessory</button>
      </div>
    </div>
  </div>

  </body>
</html>
