body {
    height:100vh;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

html {
    height:100vh;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.hide {
    display: none;
}

.dollcontainer {
    position:absolute;
    bottom:0%;
    left:37%;
}

.doll {
    z-index:0;
}

.accessorycontainer {
    position:absolute;
    z-index:1;
}

.accessory {
}

.grabbable {
    cursor:-moz-grab;
    cursor:-webkit-grab;
    cursor:grab;
}



#container {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow: auto; /* clearfix */
}

#banner {
    font-size:200%;
    width:100%;
    height:6%;
    background-color:black;
    color:white;
    margin:0;
    padding:0;
}

#left-sidebar {
    position:relative;
    float:left;
    width:140px;
    height:94%;
    background-color:black;
    color:white;
    margin:0;
}

#doll-picture-select {
    position:relative;
    bottom:0;
}

#doll-preview-box {
  float:left;
  position:absolute;
  height:33%;
  width:100%;
  bottom:0%;
  border-style:double;
  border-color:white;
  border-left:none;
  border-right:none;
}

#display-area {
    position:relative;
    float:left;
    width:calc(100% - 280px);
    height:94%;
    margin:0;
    padding:0;
}

#button-new-doll {
    position:absolute;
    left:0%;
    bottom:2%;
}

#display-area #curtains {
    height:100%;
    width:100%;
    z-index:1;
    border:none;
    margin:0;
    padding:0;
}

#display-area #doll {
    position:absolute;
    bottom:0%;
    left:37%;
    z-index:0;
    border:black;
}

#right-sidebar {
    position:relative;
    z-index:0;
    float:right;
    width:140px;
    height:94%;
    background-color:black;
    color:white;
    margin:0;
}

.recycle-bin {
    margin-top:10px;
    width:100%;
    height:100%;
}

#accessory-preview-box {
    position:absolute;
    height:33%;
    width:100%;
    bottom:0%;
    border-style:double;
    border-color:white;
    border-left:none;
    border-right:none;
}

#button-new-accessory {
    position:absolute;
    left:0%;
    bottom:2%;
}
