body {
    background-color:black;
    margin:0;
}

a {
   margin:5px;
   margin-bottom:5px;
   margin-top:5px;
   color:white;
}

a:visited {
    margin:5px;
    color:red;
}

button {
    margin:5px;
    margin-top:10px;
    margin-bottom:10px;
}

#sidebar {
    float:left;
    height:100%;
    width:10%;
}

#sidebar-header {
    margin:5px;
    color:white;
}
  
#banner {
    font-size:200%;
    width:100%;
    height:4%;
    background-color:black;
    color:white;
    margin:0;
    padding:0;
    border-bottom:double;
}

#dollhouse-select {
    margin:20px;
}

#lobbyimage {
    float:right;
    width:90%;
}
